.word-card {
    margin: .5rem;
    height: 40%;
}


.synonyms {
    position: relative;
    padding: 1.25rem;
    horizontal-align: baseline;
}
/*.word ,*/
/*.show-synonym {*/
/*    margin: .5rem;*/
/*    display: inline-block;*/
/*    vertical-align: baseline;*/
/*}*/

.show-synonym {
    /*font-size: 2rem;*/
}